header {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.main-canvas {
    border: 2px lightgray dashed;
    position: absolute;
}

.btn-active {
    border: 2px purple solid;
}